
/* ===== APP CSS START ====== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Root Start */

:root {
  /* Colors */
  --firstColor: #23f649;
  --TwoColor: #00ba7c;
  --LastColor: #cefdd6;
  --GrayColor: #d1d1d1;
  --TempColor: #2c344c;
  --DarkColor: #1c243c;
  --BlackColor: #121212;
  /* Strings */
  --navHight: 85px;
  --navHightMobile: 70px;
  --secPading: 30px;
  --secMargin: 20px;
}



/* Root End */
/* Paste Font && Transition Start */

* {
  transition: 300ms all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: 300ms all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: 300ms all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: 300ms all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: 300ms all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #f9f9f9;
  padding-bottom: var(--navHightMobile);
  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 991px) {
  body {
    padding-bottom: var(--navHightMobile);
    padding: 0;
  }
}

html {
  scroll-behavior: smooth;
}

section {
  padding: var(--secPading) 0;
  max-width: var(--secPading) 0;
}
.btn:focus {
  outline: none !important;
}

.mt--4 {
  margin: -4rem auto 0 auto;
}


.au {
  color: inherit;
  text-decoration: none;
}

.au:hover {
  color: inherit;
  text-decoration: none;
}

/* Navbar */

.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  z-index: 20;
}

#chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  overflow-y: hidden;
}


.user-top-chat{
    border-bottom: 1px solid rgb(224, 224, 224);
}
#popup1 {
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

#popup2:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popup2:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

.popup a,
.popup a:visited {
  color: #1abc9c;
}

.navbar__ {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #F0EEF6;
  background: #fff;
  height: var(--navHight);
  z-index: 120;
}

.navbar__ .navbar__elements .logo_company {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__ .navbar__elements {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 2rem;
}

.navbar__ .navbar_links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__ .navbar_links ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.settings {
  height:50px;
  width:50px;
  border-radius: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #D1DBDF;
  
}


i {
  text-decoration: none;
}

.settings i {
  color:#3D3D4E;
  text-decoration: none;
}

.navbar__ .navbar_links ul li {
  font-size: 1rem;
  font-weight: 600;
  color: var(--BlackColor);
  transition: 300ms all ease-in-out;
}

.navbar__ .navbar_links ul li:hover {
  color: #53f872;
  transition: 300ms all ease-in-out;
}

.navbar__ .navbar_links ul li.active {
  color: var(--firstColor);
}

.navbar__ .navbar_Form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__ .navbar_Form .Navbar_SearchBar {
  display: flex;
  align-items: center;
}

.navbar__ .navbar_Form .Navbar_SearchBar input {
  font-size: 0.9rem;
  border-radius:30px;
  color: #757575;
  background-color: #F0EEF6;
  height: 46px;
  padding: 1.2rem;
  font-weight: 500;
  outline: none;
}

.Navbar_SearchBar .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.list {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}
.list-items {
  padding: 10px 5px;
}
.list-items:hover {
  background-color: #dddddd;
}

.Navbar_SearchBar.active.autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}


.Navbar_SearchBar.active .autocom-box li {
  display: block;

}

.autocom-box li:hover {
  background:   #ccefff;
}
.navbar__ .navbar_Form .Navbar_SearchBar input:focus{

}


.results {
  padding: 0px;
}

.results ul {margin: 0; padding: 0; }
.results ul li {
  list-style: none;
  border-radius: 3px;
  opacity: 0;
  display: none;
  padding: 8px 12px;
  transition: all .5s linear;
}

.show .results ul li {
  opacity: 1;
  display: block;
}

.show .results {
  padding: 10px;
}

.results ul li:hover {
  background: #ececec
}

.navbar__ .navbar_Form .Navbar_SearchBar input::placeholder {
  color: #757575;
}

.navbar__ .logo_company h3 {
  margin: 0;
  font-weight: 700;
}

.navbar__ .navbar_section i {
  font-size: 1.25rem;
  color: var(--BlackColor);
  transition: 300ms all cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navbar__ .navbar_section i:hover {
  color: #777777;
  transition: 300ms all cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navbar__ .navbar_section {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.navbar__ .navbar_section .profile {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.navbar__ .navbar_section .profile img {
  display: flex;
  object-fit: cover;
  width: 40px;
}

.navbar_Post_Link {
  display: flex;
  align-items: center;
}

.navbar_Post_Link button {
  outline: none;
  border: none;
  background: var(--firstColor);
  border: 1px solid transparent;
  color: #fff;
  padding: 0.7rem 1.1rem;
  border-radius: 50px;
}

.navbar_Post_Link button:hover {
  background: transparent;
  color: var(--firstColor);
  border-color: var(--firstColor);
}


.active {
  color: #23F649;
}



#Notification {
  color: #ff0920;
}

@media screen and (min-width: 992px){
  #search {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  #Search,
  #ExitOfSearch {
    display: none;
  }
  .navbar_mobile {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .navbar__ .navbar_links ul,
  .navbar_Post_Link {
    display: none;
  }
  #SearchBar {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
  }
  #ExitOfSearch {
    display: none;
  }
  #ExitOfSearch.open {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 120;
    background: #9999;
    padding: 0.5rem;
    border-radius: 20px;
  }
  #SearchBar.open {
    display: block;
    padding-right: 3rem;
  }
  .navbar__ .navbar__elements {
    padding: 0 1.5rem;
  }
  #Emails {
    display: none;
  }
  #Search {
    display: block;
  }
}

/* Mobile Navbar */

@media screen and (max-width: 991px) {
  .navbar__ .navbar_Form .Navbar_SearchBar{
    display: none;
  }
  .navbar_mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    border-top: 2px solid #F0EEF6;
    justify-content: space-evenly;
    z-index: 120;
    background: #fff;
    color: #D1DBDF;
    align-items: center;
    height: calc(var(--navHightMobile));
  }
  .user {
    position: relative;
    top: 20px;
    width: 100%;
    
  }
  .navbar_mobile .btn_createPost {
    outline: none;
    border: none;
    background: var(--firstColor);
    border: 1px solid transparent;
    color: #fff;
    padding: 0.7rem 1.1rem;
    border-radius: 50px;
  }

  .navbar_mobile .btn_createPost:hover {
    background: transparent;
    color: var(--firstColor);
    border-color: var(--firstColor);
  }
  .navbar_mobile .items {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: center;
    font-size: 1.4rem;
    align-items: center;
  }
}

/* Selector Links */

.Selector_Links {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin: 1rem;
}

@media screen and (max-width: 1024px) {
  .Selector_Links {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.Selector_Links .SC_Item {
  background: var(--LastColor);
  color: var(--TwoColor);
  width: 120px;
  overflow-wrap: break-word;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 50px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  transition: 300ms all cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
}

.Selector_Links .SC_Item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  transition: 300ms all cubic-bezier(0.19, 1, 0.22, 1);
}

.Selector_Links .SC_Item:hover::before {
  background: rgba(255, 255, 255, 0.3);
  transition: 300ms all cubic-bezier(0.19, 1, 0.22, 1);
}

.Selector_Links .SC_Item.active {
  background: var(--TwoColor);
  color: #fff;
  transition: 300ms all cubic-bezier(0.19, 1, 0.22, 1);
}

.Selector_Links .SC_Item p {
  margin: 0;
  user-select: none;
}

/* Post Card */

.posts_cards {
  position: relative;
}

@media screen and (max-width: 991px) {
.posts_cards {
  margin: 0;
}
}

.grid_posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0 1rem;
  gap: 2rem;
}
.top-profile {
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  margin: 0 1rem;
  gap: 3rem;
}

.user {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 1.5rem;
  border: 2px solid #F0EEF6;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 5.5em;
}

.user .settings i {
  font-size: 1.25rem;
}

.cover {
  margin-top: -1em;
  height: 200px;
  width: 100%;
  border-radius: 1rem;

}

.mt--4 {
  margin: -4rem auto 0 auto;
}



.cover img {
  width: 100%;
  height: 150%;
  object-fit: cover;
}
.chat-messages {
  height: 70vh;
}

@media screen and (max-width: 991px){
  .row {
    margin-left: 0;
    margin-right: 0;

  }
  .row>* {
    padding-left: 0;
    padding-right: 0;
  }
      .container {
        padding-left: 0;
        padding-right: 0;
      }
      .container-fluid {
        padding-left: 0;
        padding-right: 0;
      }
      .user {
        width: 100%;
      }
  .cover {
    width: 100%;
    height: 200px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
}

@media screen and (max-wdith:991px) {

}
.pd-row {
  display: flex;
  align-items: flex-start;

}
.content {
  padding-top: 85px;
  
}
.pd-image {
  width: 100px;
  margin-right: 20px;
  border-radius: 50px ;
}

.grid_posts .post_box {
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
  height: 490px;
  position: relative;
}

.srch-suggest {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 10px;
  border: 1px solid #F4F4F4;
  margin-top: 2px;
  background-color: #FCFCFC;
}

.grid_posts .post_box .index_image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.grid_posts .post_box .index_image img {
  max-width: 100%;
  object-fit: cover;
}

.grid_posts .post_box .top {
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}

.grid_posts .post_box .top .items {
  display: flex;
  gap: 1rem;
}

.grid_posts .post_box .top .items .item {
  width: 42px;
  height: 42px;
  display: block;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  cursor: pointer;
}

.grid_posts .post_box .bottom {
  bottom: 0;
  color: #fff;
  opacity: 1;
  padding: 1rem;
  width: 100%;
  position: absolute;

  transition: 300ms all ease-in-out;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animatedBackground 5s linear infinite;
    -moz-animation: animatedBackground 5s linear infinite;
    -webkit-animation: animatedBackground 5s linear infinite;
    -ms-animation: animatedBackground 5s linear infinite;
    -o-animation: animatedBackground 5s linear infinite;
}

/*css for pagination*/
.page {
  display: none;
}
.page-active {
  display: block;
}

.jumbotron {background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
}
  /*Example of custom colors for pagination*/
.page-link {
    color: #000000;
    background-color: #80DEEA;
    border: 1px solid #84FFFF;
}
.page-item.disabled .page-link {
    color: #6c757d;
    background-color: #84FFFF;
    border-color: #dee2e6;
}
.page-item.active .page-link {
    color: #fff;
    background-color: #00B8D4;
    border-color: #00ACC1;
}
.page-link:hover {
    color: #0056b3;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.page-link:focus {
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
.prev .page-link {
    background-color: #80DEEA;
}
.first .page-link {
    background-color: #80DEEA;
}
.next .page-link {
    background-color: #80DEEA;
}
.last .page-link {
    background-color: #80DEEA;
}
  

  



/* Animation rainbow background */
@keyframes animatedBackground {
  0% { background-position: 0; }
  100% { background-position: 500px; }
}
@-moz-keyframes animatedBackground {
  0% { background-position: 0; }
  100% { background-position: 500px; }
}
@-webkit-keyframes animatedBackground {
  0% { background-position: 0; }
  100% { background-position: 500px; }
}
@-ms-keyframes animatedBackground {
  0% { background-position: 0; }
  100% { background-position: 500px; }
}
@-o-keyframes animatedBackground {
  0% { background-position: 0; }
  100% { background-position: 500px; }
}

/* Y scroll animation */
@keyframes scrolling {
  0% {transform: translateY(-150%)}
  100% {transform: translateY(100%)}
}
@-moz-keyframes scrolling {
  0% {transform: translateY(-150%)}
  100% {transform: translateY(100%)}
}
@-webkit-keyframes scrolling {
  0% {transform: translateY(-150%)}
  100% {transform: translateY(100%)}
}
@-ms-keyframes scrolling {
  0% {transform: translateY(-150%)}
  100% {transform: translateY(100%)}
}
@-o-keyframes scrolling {
  0% {transform: translateY(-150%)}
  100% {transform: translateY(100%)}
} 
.grid_posts .post_box .bottom .UserImage,
.grid_posts .post_box .bottom .name_time,
.grid_posts .post_box .bottom .UserImage,
.grid_posts .post_box .bottom .post_name {
  z-index: 1;
  position: relative;
}

.grid_posts .post_box .bottom {
  display: flex;
  justify-content: space-between;
}
.grid_posts .post_box .bottom .post_name {
  align-self: flex-end;
}

.grid_posts .post_box .bottom .UserImage {
  width: 48px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.grid_posts .post_box .bottom .UserImage img {
  object-fit: cover;
  display: flex;
  height: 48px;
  width: 100%;
}
.grid_posts .post_box .UserDetails {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.grid_posts .post_box::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #121212 120%);
  z-index: 0;
  transition: 300ms all ease-in-out;
}

@media screen and (max-width: 991px) {
  .grid_posts .post_box::before {
    bottom: 0;
    opacity: 1;
  }
}

.grid_posts .post_box::before {
  bottom: 0;
  opacity: 1;
  transition: 300ms all ease-in-out;
}

.grid_posts .post_box .bottom .name_time {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.grid_posts .post_box .bottom .name_time .name {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.9rem;
}

.grid_posts .post_box .bottom .name_time i {
  display: inline;
  color: #1ae4ff;
}

.grid_posts .post_box .bottom .name_time h6 {
  margin: 0;
}
.comment {
  color: #000;
}

@media screen and (max-width: 991px) {
  .grid_posts {
    margin: 0;
    gap: 1rem;
  }
}

.post_title {
  height: 100px;
  width: 100%;
  text-align: start;
  background-color: #000;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar__ .navbar_section {
    gap: 0.7rem;
  }
  .navbar__ .navbar_links ul a {
    display: flex;
    align-items: center;
  }
  .navbar__ .navbar_links {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 560px) {
  .user {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .pd-row {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 0.8rem;
  }
  .pd-image {
    margin: 0;
  }
}

a {
  text-decoration: none;
}
.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  z-index: 20;
}

#popup1 {
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

#popup2:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popup2:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

.popup a,
.popup a:visited {
  color: #1abc9c;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--primary-blue);
}
a:hover{
}

p strong {
  color:black;
  text-decoration: none;
}


.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: var(--header-height);
    z-index: var(--z-fixed);
  }
  
  .Navbar_Toggle {
    background: transparent;
    border: none;
    outline: none;
    width: 42px;
    font-size: 24px;
    height: 42px;
    border-radius: 4px;
    display: none;
  }
  .Navbar_Toggle:before,
  .Navbar_Toggle:after,
  .Navbar_Toggle div {
    background: #000;
    content: "";
    display: block;
    height: 4px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }
  .Navbar_Toggle.open:before {
    transform: translateY(12px) rotate(135deg);
  }
  .Navbar_Toggle.open:after {
    transform: translateY(-10px) rotate(-135deg);
  }
  .Navbar_Toggle.open div {
    transform: scale(0);
  }
  
  .bg_main {
      background: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(20px);
      transform: translateZ(0px);
  }
  
  .navbar .navbar-brand {
    color: var(--first-color);
    font-family: var(--last-font);
    font-size: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .navbar-light .navbar-brand:focus,
  .navbar-light .navbar-brand:hover {
    color: var(--first-color);
    opacity: 0.9;
  }
  
  .navbar-light .navbar-brand:focus-visible {
    outline: 0;
    border: 0;
  }
  
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .show > .nav-link {
    color: var(--first-color);
    font-weight: 700;
  }
  .navbar-nav {
    gap: 1.25rem;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: var(--Black-color);
    font-weight: 400;
    font-size: 16px;
  }
  
  @media screen and (max-width: 991px) {
    .navbar-collapse {
      background: #fff;
      position: absolute;
      width: 100%;
      left: 0;
      top: 100px;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 1rem;
    }
    .Navbar_Toggle {
      display: block;
    }
    #navbar_collapse {
      height: 0;
    }
  }